<div class="Container-fluid footer">
    <div class="row">
        <div class="col-lg-6">
            <p>Todos os direitos reservados a Mangaratiba - Casa de Praia</p>
        </div>

        <div class="col-lg-4">
            <a routerLink=""></a>
            <a routerLink="menu"></a>
            <a routerLink="about"></a>
            <a routerLink="contact"></a>
        </div>

        <div class="col-lg-2">
            <a href= "https://www.google.com/search?q=mangaratiba+casa+de+praia&rlz=1C1GCEU_pt-BRBR1048BR1060&oq=mangaratiba+casa+de+praia&aqs=chrome..69i57j69i60l3.3671j0j4&sourceid=chrome&ie=UTF-8#rlimm=16769284985419337529" target="_blank"></a><i class="bi bi-google"></i>
            <a href="https://www.facebook.com/people/Mangaratiba-Casa-de-Praia/100090549496385/" target="_blank"></a><i class="bi bi-facebook"></i>
            <a href="https://www.instagram.com/mangaratibacasadepraia/" target="_blank"></a><i class="bi bi-instagram"></i>
            <a href="https://api.whatsapp.com/send/?phone=5521965351678&text&type=phone_number&app_absent=0" target="_blank"></a><i class="bi bi-whatsapp"></i>
            <a href="#" target="_blank"></a>
            <a href="#" target="_blank"></a>
           
        </div>
    </div>
</div>
