
<br>
<br>
<div class="container">
  <br>
  <br>
  <h2>Galeria de fotos</h2>
    <br>
    <br>
    <div class="row align-items-center">
      <div class="col">
        <img src="../../../assets/img/4c5d94c4-982e-44d8-aee3-adefa3523bec.jpg" width="" height="" alt="">
      </div>
      <div class="col">
        <img src="../../../assets/img/4e374ee7-f4ed-4d86-95fd-fd82c7146057.jpg" width="" height="" alt="">
      </div>
      <div class="col">
        <img src="../../../assets/img/7734705f-7f09-4e9d-b7a7-8d48f68403bc.jpg" width="" height="" alt="">
      </div>
      <div class="col">
        <img src="../../../assets/img/1909d911-a845-4acd-bf30-6935984acfed.jpg" width="" height="" alt="">
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <img src="../../../assets/img/ff411a91-f9e1-4d50-bddf-f56c6d1f799b.jpg" width="" height="" alt="">
          </div>
          <br>
          <div class="col">
            <img src="../../../assets/img/4bc16f81-26cf-46d9-a013-e8366d238e7b.jpg" width="" height="" alt="">
          </div>
          <br>
          <div class="col">
            <img src="../../../assets/img/d0d58b1f-a557-4372-863c-e47b89a76a0b.jpg" width="" height="" alt="">
          </div>
          <br>
          <div class="col">
            <img src="../../../assets/img/e54ab33c-cd64-4572-99dd-59fb22e781ba.jpg" width="200" height="200" alt="">
        </div>
        <br>
        <br>
      </div>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col">

                <h2>CARACTERÍSTICAS</h2>
                <p>
                    
                   
                    Regras da Casa:
                    <br>
                    <br>
                    Check-in 12:00h / check-out 17:00h
                    <br>
                    <br>
                    Ocupação máx.: 20 pessoas (Contando crianças a partir de 03 anos)
                    <br>
                    <br>
                    Festas/eventos permitidos (Até 20 pessoas)
                    <br>
                    <br>
                    Permitido pets
                    <br>
                    <br>
                    Permitido colocar som, mas com uma altura moderada
                    <br>
                    <br>
                    Banheiros:
                    3 Banheiros
                    <br>
                    <br>
                    Quartos:
                    3 Quartos, sendo uma suite.
                    <br>
                    <br>
                    Acomodações: Aceitamos até 20 pessoas
                    <br>
                    <br>
                    Lazer:
                    Televisão, piscina, churrasqueira, salão de jogos, campo de futebol e praia
                    <br>
                    <br>
                    
</div>
</div>

            </div>

            
           

           
