
<div class="banner">
    <div class="content">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <h2 class="mb-5">A casa de praia da sua família e amigos!</h2>
        <a href="https://api.whatsapp.com/send/?phone=5521965351678&text&type=phone_number&app_absent=0" target="_blank">Reserve agora</a>
    </div>

   
    </div>
    <br>
    <br>
    <div class="container">
   <div class="step">
    <h1 class="text-center"></h1>
    <div class="row">
    

      <div class="col-lg-4">
      <div class="Box">
        <h3>Dicas de passeios</h3>
        <p>Ilha Grande: Trilhas e diversos passeios
          Praia Ibicuí: Praia com diversos restaurantes
        </p>
      </div>
      </div>
      <div class="col-lg-4">
       <div class="Box">
        <h3>Descontos</h3>
        <p>Aniversariantes e reservas com 02 meses de antecedência tem direito a 10% de desconto</p>
       </div>
      </div>
      <div class="col-lg-4">
       <div class="Box">
        <h3>Métodos de pagamento</h3>
        <p>Aceitamos Pix, Cartão, Boleto, Depósito e Dinheiro <br><i class="bi bi-cash-coin"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-credit-card"></i></p>
       </div>
      </div>
     </div> 
    
    <div class="container mt-4 mb-4">
      <h3 class="text-center">Faça sua reserva</h3>
      <div class="row">
        <div class="col-lg-3" *ngFor=" let fd of reservasData">
         
          <div class="reservasBox">
          <img src="{{fd.reservasImg}}"/>
          <h1>{{fd.ReservasName}}</h1>
          <p>{{fd.reservasPrice | currency: 'BRL'}}</p>
          <a class="btn_reserva" href="https://api.whatsapp.com/send/?phone=5521965351678&text={{fd.ReservasName}}&type=phone_number&app_absent=0" target="_blank">Fazer reserva</a>
        </div>
        
        </div>
      </div>

    </div>
 
    
  

 
      <br>
      <br>
      <br>
      <br>

      
        <div class="row">
        <div class="col">
          <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2F100090549496385%2Fvideos%2F1241609923415100%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
        </div>
       
        <div class="col">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58764.93199096044!2d-44.12620530643125!3d-22.994077610340973!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9c15a98f4d1fcf%3A0xe8b877d8c5360f39!2sMangaratiba%20-%20Casa%20de%20Praia!5e0!3m2!1spt-BR!2sbr!4v1686165424945!5m2!1spt-BR!2sbr" width="476" height="476" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
  </div>    
   
</div>
    <br>
    <br>
    <br>

 





























   
   
        
